body {
  height: 100%;
  background-color: blue;
  margin: 5px;
}

html {
  height: 100vh;
}

.app__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}